@media screen and (min-width: 1280px) {
  .md-main-content {
    margin-left: 10px;
  }
}

.md-ui-content {
  padding-top: 10px;
  padding-left: 10px;
}

.text-center() {
  text-align: center;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.no-text-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/**
========================================================
**/

.error-message {
  color: red;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}