<div layout="column" layout-fill layout-align="top center">
    <h1>Sign Up</h1>
    <div class="col-xs-4">
        <form ng-submit="signUp()">
            <div>
                <md-input-container class="col-xs-12">
                    <label for="username">Username</label>
                    <input name="username" id="username" type="text" ng-model="user.Username" required>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="col-xs-12">
                    <label for="firstname">First name</label>
                    <input name="firstname" id="firstname" type="text" ng-model="user.Firstname" required>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="col-xs-12">
                    <label for="lastname">Last name</label>
                    <input name="lastname" id="lastname" type="text" ng-model="user.Lastname" required>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="col-xs-12">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="text" ng-model="user.Email" required>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="col-xs-12">
                    <label for="password1">Password</label>
                    <input name="password1" id="password1" type="password" ng-model="user.Passwords.Password1" required>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="col-xs-12">
                    <label for="password2">Password confirmation</label>
                    <input name="password2" id="password2" type="password" ng-model="user.Passwords.Password2" required>
                </md-input-container>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <md-button class="col-xs-12" type="submit">Sign Up!</md-button>
            </div>
        </form>
        <div class="clearfix"></div>
        <div ng-hide="error == null" class="error-message text-center">
            {{ error.Data }}
        </div>
    </div>
</div>