<md-toolbar layout="row" ng-controller="ToolBarController">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Toolbar" ng-click="toggleSideBar()" hide-gt-md>
            <md-icon md-svg-icon="img/menu.svg"></md-icon>
        </md-button>
        <h2>Toolbar</h2>
        <span flex></span>
        <span ng-hide="isLogged()"><a ui-sref="login">Login</a></span>
        <span ng-show="isLogged()"><a ui-sref="login">{{ getCurrentUser().Firstname }} {{ getCurrentUser().Lastname }}</a></span>
    </div>
</md-toolbar>